body{
    background-image: url(background.jpg);
    background-size: 1500px;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: peachpuff;
}
.stick{
    left: 0px;
    bottom: 75px;
    position: absolute;

}
#Title{
    font-family: cursive;
    color: black;
    font-size: 100px;
    margin-left: 10px;
    margin-top: 0px;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
#Menu{
    position: fixed;
    top: 0;
    right: 130px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: pink;
    border-right-width: 4px;
    border-left-width: 4px;
}
#click{
    background-image: url(click\ background.jpg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    border-radius: 15px;
    height: 170px;
    color: white;
    margin-left: 1550px;
    margin-top: -50px;
}
#buy{
    background-image: url(Buy\ background.jpg);
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: lavender;
    font-size: 50px;
    font-weight: bold;
    margin-left: 1550px;
    margin-top: 50px;
    width: 300px;
    border-radius: 5px;
    height: 170px;
}
#return{
    font-weight: bold;
}

.inventory{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}

.shop{
    display: none;
}

.purchasebuttons{
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
}
.upgrades, .Ellas button{ 
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}
button{
    background-color: lightpink;
    font-family: cursive;
    font-size: 13px;
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

}
.shop {
    margin-left: 1550px; 
}
#points{
    display: inline-block; 
    border: 2px solid black; 
    padding: 5px; 
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
#ellas{
    display: inline-block; 
    border: 2px solid black; 
    padding: 5px; 
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.purchasebuttons{
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
#return{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#buttons{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
#PurchaseE{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

