body{
    background-image: url(background.jpg);
    background-size: 1500px;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-color: lightpink;
    border: 4px solid black;
}
.inventory{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.shop{
    display: none;
}

.purchasebuttons{
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
}
.upgrades, .Ellas button{ 
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}
button{
    background-color: white;
    font-size: 18px;
}